<ng-template #imageUpload let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Upload Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <Content> -->
        <span class="btn btn-primary btn-sm btn-file">
            Browse <input type="file" (change)="fileChangeEvent($event)">
        </span>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
            [resizeToWidth]="300" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
    </div>
    <!-- </Content>-->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" [disabled]="croppedImage===''"
            (click)="c('Update')">Update</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
