$topnav-background-color: rgb(255, 255, 255);
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 3em;
    .card-header{
        background-color: #0076B9;
    }
    .col-lg-3 {
        padding: 0;
    }
    .input-lg {
        height: 30px;
        padding: 10px 16px;
        font-size: 16px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        color: rgb(53, 53, 53);
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #0076B9;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background-color: rgb(41, 160, 66);
        border: 2px solid rgba(25, 121, 46, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 35px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 36px;
        small {
            color: rgb(255, 255, 255)
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: rgba(44, 44, 44, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(44, 44, 44, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(44, 44, 44, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(44, 44, 44, 0.6) !important;
        }
    }
    .form-content {
        padding: 30px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    .validation-text{
        font-size: 12px;
        color: rgb(160, 0, 0);
    }
}
