<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h1><small>Door Access Management System</small></h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="login_user_form" (ngSubmit)="onLoggedin()">
                        <div class="form-content">
                            <div class="form-group">
                                <input formControlName="username" name="username" type="text"
                                    class="form-control input-underline input-lg" placeholder="User Name" required>
                                <div class="validation-text"
                                    *ngIf="login_user_form.get('username').touched && login_user_form.get('username').hasError('required')">
                                    User Name is required.
                                </div>
                            </div>

                            <div class="form-group">
                                <input formControlName="password" name="password" type="password"
                                    class="form-control input-underline input-lg" placeholder="Password" required>
                                <div *ngIf="login_user_form.get('password').touched && login_user_form.get('password').hasError('required')"
                                    class="validation-text">
                                    Password is required.
                                </div>
                            </div>
                            <div *ngIf="error_message" class="alert alert-warning">
                                {{error_message}}
                            </div>
                        </div>
                        <button type="submit" class="rounded-btn" [disabled]="login_user_form.invalid" [routerLink]=""
                            (click)="onLoggedin()">
                            Log in </button>
                        &nbsp;

                        <a *ngIf="" class="rounded-btn" [routerLink]="['/signup']">Register</a>

                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
<swal #loginFailedConfirmation title="Authentication Failed" text="User Name or Password is invalid!" type="warning">
</swal>
