<div class="card card-default mb-3">
    <div class="card-header">

        <i class="fa fa-table fa-fw"></i> List of Students
        <button class="btn btn-success pull-right btn-sm" (click)="showMainMenu()"><i class="fa fa-times"></i></button>
    </div>

    <div class="card-body table-responsive">
        <!--Tool Bars-->
        <div class="form-inline">
            <div class="form-group">
                <button class="btn btn-success btn-sm" (click)="addNewStudent()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="form-group">
                <div class="vl"></div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input [(ngModel)]="criteria" class="form-control form-control-sm" placeholder="Search..."
                        type="text" />
                    <button class="btn btn-danger input-group-append btn-sm" type="button" (click)="search()"><span
                            class="fa fa-search"></span></button>
                </div>
            </div>
        </div>
        <!--/Tool Bars-->
        <table class="table table-bordered table-hover table-sm mt-3">
            <thead>

                <tr>
                    <th width="5%">#</th>
                    <th width="15%">SrCode</th>
                    <th width="25%">FullName</th>
                    <th width="15%">Course</th>
                    <th width="15%">Major</th>
                    <th width="15%">Year Level</th>
                    <th width="15%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of records; let i = index">
                    <th scope="row">
                        {{i + 1}}</th>
                    <td>{{record.srCode}}</td>
                    <td>{{record.fullName}}</td>
                    <td>{{record.courseCode}}</td>
                    <td>{{record.majorCode}}</td>
                    <td>{{record.yearLevel}}</td>

                    <th>
                        <!--<div ngbDropdown class="d-inline-block dropdown">
                                        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Action</button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item btn-sm" (click)="edit(record.property_record_id)">Modify</button>
                                            <button class="dropdown-item btn-sm" (click)="delete(record.property_record_id)">Delete</button>
                                        </div>
                                    </div> -->
                        <button type="button" class="btn btn-info btn-sm mr-1" (click)="editStudent(record.studentID)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="showDeleteAlert(record.studentID)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </th>
                </tr>

            </tbody>
        </table>
    </div>
    <!--</card>-->
</div>


<swal #showDeleteQuestion title="Delete Selected Record?" text="This cannot be undone" type="question" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteReport()">
</swal>
<swal #showRecordDeleted title="Confirmation" text="Record has been deleted!" type="success">
</swal>
