<div class="row">

        <div class="col-xl-6">

            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-book fa-fw"></i> Required Informations
                    <button class="btn btn-success pull-right btn-sm" (click)="cancel()"><i
                            class="fa fa-times"></i></button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <form [formGroup]="editForm" (ngSubmit)="save()" college="form">

                        <div class="form-group">
                            <label>Sr Code</label>
                            <input #box formControlName="srCode" class="form-control form-control-sm" type="text"
                                required [readonly] = "'true'"/>
                            <div *ngIf="editForm.controls['srCode'].invalid && (editForm.controls['srCode'].dirty || editForm.controls['srCode'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="editForm.controls['srCode'].errors.required">
                                    srCode is required.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>First Name</label>
                            <input #box formControlName="firstName" class="form-control form-control-sm" type="text"
                                required />
                            <div *ngIf="editForm.controls['firstName'].invalid && (editForm.controls['firstName'].dirty || editForm.controls['firstName'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="editForm.controls['firstName'].errors.required">
                                    First Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Middle Name</label>
                            <input #box formControlName="middleName" class="form-control form-control-sm" type="text"
                                required />
                            <div *ngIf="editForm.controls['middleName'].invalid && (editForm.controls['middleName'].dirty || editForm.controls['middleName'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="editForm.controls['middleName'].errors.required">
                                    Middle Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input #box formControlName="lastName" class="form-control form-control-sm" type="text"
                                required />
                            <div *ngIf="editForm.controls['lastName'].invalid && (editForm.controls['lastName'].dirty || editForm.controls['lastName'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="editForm.controls['lastName'].errors.required">
                                    Last Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>College</label>
                            <select formControlName="collegeID" class="form-control form-control-sm" (change)="onCollegeChange($event.target.value)">
                                <option *ngFor="let college of colleges" value="{{college.collegeID}}">
                                    {{college.code}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Course</label>
                            <select formControlName="courseID" class="form-control form-control-sm" (change)="loadMajors($event.target.value)">

                                <option *ngFor="let course of courses" value="{{course.courseID}}">
                                    {{course.code}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Major</label>
                            <select formControlName="majorID" class="form-control form-control-sm">

                                <option *ngFor="let major of majors" value="{{major.majorID}}">
                                    {{major.code}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Year Level</label>
                            <select formControlName="yearLevel" class="form-control form-control-sm">
                                <option *ngFor="let yearLevel of yearLevels" value="{{yearLevel.description}}">
                                    {{yearLevel.description}}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success  ml-3 pull-right" [disabled]="editForm.invalid"><i
                                class="fa fa-save"></i>
                            Save</button>
                        <button type="button" class="btn btn-danger  pull-right" (click)="cancel()"><i
                                class="fa fa-warning"></i>
                            Cancel</button>
                    </form>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <swal #saveConfirmation title="Confirmation" text="Record Save" type="success">
        </swal>
    </div>
